@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
    color: var(--text-color);
}

:root {
    --bg-color: #fff;
    --text-color: #000;
    --main-color: #f0f0f0;
    --other-color: #ffc633;
    --sec-text-color: #616060;
    --h1-font: 6.6rem;
    --h2-font: 3.5rem;
    --p-font: 1.8rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 10%;
    background: var(--bg-color);
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .1);
    z-index: 100;
}

header a {
    text-decoration: none;
}

.logo {
    font-size: 3.1rem;
    font-weight: 600;
    letter-spacing: .02rem;
}

.navbar a {
    display: inline-block;
    font-size: var(--p-font);
    margin-left: 1.8rem;
    background: transparent;
    font-weight: 500;
    border-bottom: 2px solid #fff;
    transition: .5s ease;
}

.navbar a:hover {
    color: var(--sec-text-color);
    border-bottom: 2px solid var(--text-color);
}

.activity {
    font-size: var(--p-font);
    display: flex;
    align-items: center;
}

.activity i {
    display: inline-block;
    margin: 0 1.5rem;
    cursor: pointer;
}

#menu {
    display: none;
}

section {
    padding: 10rem 9% 2rem;
}

.home {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background: url(img/homeimg.png)no-repeat;
    background-color: var(--main-color);
    background-position: center;
    background-size: cover;
}

.text-content p {
    font-size: var(--p-font);
    color: var(--sec-text-color);
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.text-content h1 {
    font-size: var(--h1-font);
    line-height: 1.2;
    font-weight: 700;
}

.text-content .paragraph {
    font-size: 1.4rem;
    text-transform: none;
    font-weight: 400;
    margin: 2rem 0;
    letter-spacing: .02rem;
    line-height: 1.5;
    max-width: 65rem;
}

.btn {
    background: var(--text-color);
    color: #fff;
    padding: 1.4rem 4.2rem;
    border-radius: .5rem;
    font-size: var(--p-font);
    border: .2rem solid var(--text-color);
    letter-spacing: .1rem;
    cursor: pointer;
    font-weight: 500;
    transition: .5s ease;
}
.btn:hover{
    background: #f0f0f0;
    color: #000;
}

.brand {
    background: #000;
    padding: 2rem 9% 2rem;
}

.brand-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brand-content img {
    height: auto;
    width: 100%;
}

.title {
    font-size: 4rem;
    text-align: center;
    margin-bottom: 4rem;
}

.product {
    min-height: 100vh;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    width: 100%;
}

.product-sec {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.product-container img {
    padding: 2rem;
    height: 30rem;
    width: 100%;
    background: var(--main-color);
    border-radius: .5rem;
    cursor: pointer;
    object-fit: contain;
    cursor: pointer;
}

.prodcut-text h2 {
    font-size: 1.8rem;
    letter-spacing: .05rem;
}

.rating {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    line-height: 1.9;
}

.rating i {
    color: var(--other-color);
}

.price-section {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 100%;
}

.price-section span {
    font-weight: 500;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: .4s ease;
}

.price-section span:hover {
    border-bottom: 2px solid #000;
}

.price-section i {
    font-size: 2rem;
    margin-left: .5rem;
}

.viewBtn {
    margin-top: 5rem;
    border-radius: 10rem;
}
.viewBtn:hover{
    background: #fff;
}

.facility-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.facility-container {
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1rem rgba(32, 33, 36, .2);
    padding: 3rem 2rem 4rem;
    text-align: center;
    cursor: pointer;
    border-left: .3rem solid #000;
    transition: .5s ease;
}


.facility-container:hover {
    scale: 1.03;
}

.facility-container i {
    font-size: 5rem;
}

.facility-container h2 {
    font-size: 2.5rem;
}

.facility-container p {
    font-size: 1.4rem;
    color: var(--sec-text-color);
}

.seller-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    width: 100%;
}

.seller-row img {
    width: 100%;
    transition: .5s ease;
}

.seller-row img:hover {
    scale: 1.02;
}

.update {
    background: #000;
    padding: 4rem;
    margin-top: 5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text h2 {
    color: #fff;
    font-size: 3.5rem;
}

.text p {
    color: #ffff;
    font-size: 1.1rem;
}

.update span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.update span input {
    padding: 1.5rem .5rem;
    border-radius: .4rem;
    font-size: 1.5rem;
    width: 80%;
    margin-right: 1rem;
}

input::placeholder {
    font-size: 1.5rem;
}

.update span button {
    padding: 1.3rem 1rem;
    font-size: 1.4rem;
    border: .2rem solid #ffff;
}

.footer {
    padding: 7rem 9% 2rem;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit, minmax(1.8rem, auto));
}

.footer-box {
    display: flex;
    flex-direction: column;
}

.footer-box h3 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem;
}


.footer-box a {
    color: var(--sec-text-color);
    text-decoration: none;
    font-size: 1.4rem;
    margin-bottom: .8rem;
}
.footer-box a:hover{
    color: var(--other-color);
}


@media(max-width:1400px) {
    html {
        font-size: 535;
    }

    .brand {
        padding: 2rem 9% 2rem;
    }

    .brand img {
        width: 100%;
        max-width: 100px;
        height: auto;
    }
}

@media(max-width:1000px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .product-sec {
        grid-template-columns: repeat(3, 1fr);
    }

    .update {
        flex-direction: column;
    }

    .update span {
        width: 100%;
        margin-top: 2rem;
    }
}

@media(max-width:788px) {
    #menu {
        display: block;
    }
    .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: 1px solid rgba(0,0,0,.1);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        display: none;
    }
    .navbar.active{
        display: block;
    }
    .navbar a{
        font-size: 2rem;
        margin: 3rem 0;
        display: block;
    }
    .product-sec{
        grid-template-columns: repeat(2,1fr);
    }
    .seller-row{
        grid-template-columns: repeat(2,1fr);
    }
    .footer{
        grid-template-columns: repeat(2,1fr);
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
    .product-sec{
        grid-template-columns: repeat(1,1fr);
    }
    .seller-row{
        grid-template-columns: repeat(1,1fr);
    }
    .footer{
        grid-template-columns: repeat(1,1fr);
    }

}